Repository opentk/opentk, pull requests merged in 2022-07, with the labels that each got.

#1465 [5.0] Proper depluralization of GenQueries
  src/Generator/Process/Overloaders.cs
  src/Generator/Utility/NameMangler.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGL/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Overloads.cs
Labels: binding generator, 5.x, OpenGL

#1333 [3.0] Fix multiplication order issue in right-handed Vector3.Transform
  src/OpenTK/Math/Vector3.cs
Labels: 3.x, math

#1360 [3.x] Allow use of Virtual Keys on Windows
  src/OpenTK/GameWindowFlags.cs
  src/OpenTK/Platform/Windows/API.cs
  src/OpenTK/Platform/Windows/WinFactory.cs
  src/OpenTK/Platform/Windows/WinGLNative.cs
  src/OpenTK/Platform/Windows/WinKeyMap.cs
  src/OpenTK/Platform/Windows/WinRawInput.cs
  src/OpenTK/Platform/Windows/WinRawKeyboard.cs
Labels: windows, input, platform, 3.x

#1432 [3.0] Fix missing enums and fix MultiDrawElementsIndirectCount parameter type.
  src/Generator.Bind/Specifications/GL2/overrides.xml
  src/Generator.Bind/Specifications/GL2/signatures.xml
Labels: binding generator, 3.x, OpenGL

#1475 Fix issues found in the style rules
  paket.dependencies
  src/Generator.Bind/Main.cs
  src/Generator.Converter/Generator.Convert.csproj
  src/Generator.Rewrite/Generator.Rewrite.csproj
  src/OpenTK.GLWidget/OpenTK.GLWidget.csproj
  src/OpenTK/Audio/OpenAL/AL/AL.cs
  src/OpenTK/Audio/OpenAL/Alc/Alc.cs
  src/OpenTK/Configuration.cs
  src/OpenTK/Input/GamePadConfiguration.cs
  src/OpenTK/Input/Joystick.cs
  src/OpenTK/Input/JoystickState.cs
  src/OpenTK/Platform/Linux/LinuxNativeWindow.cs
  src/OpenTK/Platform/Windows/WinGLNative.cs
  src/OpenTK/Platform/X11/API.cs
  src/OpenTK/Platform/X11/X11DisplayDevice.cs
  src/OpenTK/Platform/X11/X11GLNative.cs
  tests/OpenTK.Tests.Generators/OpenTK.Tests.Generators.fsproj
  tests/OpenTK.Tests.Integration/OpenTK.Tests.Integration.fsproj
  tests/OpenTK.Tests.Math/OpenTK.Tests.Math.csproj
  tests/OpenTK.Tests/OpenTK.Tests.fsproj
Labels: 3.x

#1476 Fixed issue where dpi scaling caused test to fail when running on win…
  tests/OpenTK.Tests.Integration/GameWindowTests.fs
Labels: bug, windows, platform, tests, 3.x

#1473 Add switch for optionally setting dll search path
  src/OpenTK/Toolkit.cs
  src/OpenTK/ToolkitOptions.cs
Labels: 3.x

#1477 [5.0] Properly bind functions using GLboolean
  src/Generator/Process/OutputData.cs
  src/Generator/Process/Overloaders.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGL/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Overloads.cs
Labels: binding generator, 5.x, OpenGL

#1483 Cleaned up project folders
  OpenTK.sln
  src/OpenAL/OpenALGenerator/OpenALGenerator.csproj
  src/OpenAL/OpenALGenerator/Program.cs
  tests/LocalTest/LocalTest.csproj
  tests/LocalTest/Program.cs
  tests/OpenALTest/ALTest.cs
  tests/OpenALTest/OpenALTest.csproj
  tests/OpenTK.Benchmarks/MatrixBenchmark.cs
  tests/OpenTK.Benchmarks/OpenTK.Benchmarks.csproj
  tests/OpenTK.Benchmarks/Program.cs
Labels: improvement, 4.x
