Repository opentk/opentk, pull requests merged in 2022-11, with the labels that each got.

#1506 add EXT_fragment_shading_rate
  src/Generator.Bind/Specifications/GL2/signatures.xml
Labels: binding generator, 4.x, OpenGL

#1518 Fix: Separator used by vectors does not change when CurrentCulture changes.
  src/OpenTK.Mathematics/MathHelper.cs
  src/OpenTK.Mathematics/Vector/Vector2.cs
Labels: bug, 4.x, math

#1539 Added TransparentFramebuffer and Vsync options to NativeWindowSettings
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
  src/OpenTK.Windowing.Desktop/NativeWindowSettings.cs
Labels: improvement, 4.x, glfw

#1540 Added SHADER_BINARY_FORMA_SPIR_V to BinaryFormat enum
  src/Generator.Bind/Specifications/GL2/overrides.xml
  src/Generator.Bind/Specifications/GL2/signatures.xml
  tests/LocalTest/Program.cs
Labels: binding generator, 4.x, OpenGL

#1541 Changed default to better work on macos
  src/OpenTK.Windowing.Desktop/NativeWindowSettings.cs
Labels: platform, 4.x, OpenGL, macos
