Repository opentk/opentk, pull requests merged in 2022-02, with the labels that each got.

#1379 Revert box changes for opentk4.7
  src/OpenTK.Mathematics/Geometry/Box2.cs
  src/OpenTK.Mathematics/Geometry/Box2d.cs
  src/OpenTK.Mathematics/Geometry/Box2i.cs
  src/OpenTK.Mathematics/Geometry/Box3.cs
  src/OpenTK.Mathematics/Geometry/Box3d.cs
  src/OpenTK.Mathematics/Geometry/Box3i.cs
Labels: 4.x, math

#1380 Implemented the AL_SOFT_loop_points OpenAL extension
  src/OpenAL/OpenTK.OpenAL/Extensions/SOFT.LoopPoints/Enums/BufferLoopPoint.cs
  src/OpenAL/OpenTK.OpenAL/Extensions/SOFT.LoopPoints/LoopPoints.cs
Labels: 4.x, OpenAL

#1388 Added missing One and Zero in Vector3i
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector2i.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector3i.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  src/OpenTK.Mathematics/Vector/Vector4i.cs
Labels: 4.x, math

#1390 Added component-wise division operator to vector types.
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector2i.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector3i.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  src/OpenTK.Mathematics/Vector/Vector4i.cs
Labels: 4.x, math

#1391 Added warning about ClientSize in OnMaximized and OnMinimized callbacks
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
Labels: 4.x, glfw

#1373 Outsourced JoystickCallback to separate class
  src/OpenTK.Windowing.Desktop/Joysticks.cs
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
Labels: bug, 4.x, glfw

#1393 Fix Box2d.Translate and Box2i.Translate
  src/OpenTK.Mathematics/Geometry/Box2d.cs
  src/OpenTK.Mathematics/Geometry/Box2i.cs
Labels: bug, 4.x, math

#1374 Fix math overloads
  .gitignore
  src/Generator/Process/Overloaders.cs
  src/Generator/Program.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/Enums.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGL/Enums.cs
  src/OpenTK.Graphics/OpenGL/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES1/Enums.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES3/Enums.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Overloads.cs
Labels: bug, binding generator, 5.x, OpenGL
