Repository opentk/opentk, pull requests merged in 2022-08, with the labels that each got.

#1489 Fix incorrect results of `ClampAngle()` and `ClampRadians()`
  src/OpenTK.Mathematics/MathHelper.cs
Labels: 4.x, math

#1488 Fix invalid results of `NormalizeRadians()`
  src/OpenTK.Mathematics/MathHelper.cs
Labels: 4.x, math

#1491 [3.0] Add backwards compatibility overloads for MultiDrawElementsIndirectCount
  src/Generator.Bind/Specifications/GL2/overrides.xml
Labels: binding generator, 3.x

#1490 Forward OpenTK 3 Egl bindings to OpenTK 4
  src/OpenTK.Graphics/Egl/Egl.cs
Labels: platform, 4.x

#1496 Removed ALTest from OpenTK.OpenAL
  src/OpenAL/OpenTK.OpenAL/ALTest.cs
Labels: 4.x, OpenAL

#1495 Fix folder move
  OpenTK.sln
  tests/LocalTest/LocalTest.csproj
  tests/OpenALTest/OpenALTest.csproj
  tests/OpenTK.Benchmarks/OpenTK.Benchmarks.csproj
Labels: 4.x
