Repository opentk/opentk, pull requests merged in 2022-03, with the labels that each got.

#1394 Fixed ReadOnlySpan<int> overload in OpenAL loop points extension
  src/OpenAL/OpenTK.OpenAL/Extensions/SOFT.LoopPoints/LoopPoints.cs
Labels: bug, 4.x, OpenAL

#1395 Window size limits
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
  src/OpenTK.Windowing.Desktop/NativeWindowSettings.cs
Labels: 4.x, glfw

#1397 Added missing glfw functions for native access.
  src/OpenTK.Windowing.GraphicsLibraryFramework/GLFW.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/GLFWNative.cs
Labels: 4.x, glfw

#1378 Move Box changes to OpenTK 5
  src/OpenTK.Mathematics/Geometry/Box2.cs
  src/OpenTK.Mathematics/Geometry/Box2d.cs
  src/OpenTK.Mathematics/Geometry/Box2i.cs
  src/OpenTK.Mathematics/Geometry/Box3.cs
  src/OpenTK.Mathematics/Geometry/Box3d.cs
  src/OpenTK.Mathematics/Geometry/Box3i.cs
Labels: 5.x, math

#1407 [5.0] Add "requires version/extension" comments
  .gitignore
  src/Generator/Process/OutputData.cs
  src/Generator/Process/Overloaders.cs
  src/Generator/Process/Processor.cs
  src/Generator/Reader.cs
  src/Generator/SpecificationFiles/es3/glGet.xml
  src/Generator/SpecificationFiles/es3/glGetUniform.xml
  src/Generator/SpecificationFiles/gl.xml
  src/Generator/SpecificationFiles/gl4/glBlendFunc.xml
  src/Generator/SpecificationFiles/gl4/glDrawArraysIndirect.xml
  src/Generator/SpecificationFiles/gl4/glDrawElementsIndirect.xml
  src/Generator/SpecificationFiles/gl4/glGet.xml
  src/Generator/SpecificationFiles/gl4/glMultiDrawElementsIndirect.xml
  src/Generator/Writer.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/Enums.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGL/Enums.cs
  src/OpenTK.Graphics/OpenGL/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES1/Enums.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES3/Enums.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Overloads.cs
Labels: improvement, binding generator, 5.x
