Repository opentk/opentk, pull requests merged in 2022-09, with the labels that each got.

#1500 Add OpenAL platform detection for FreeBSD
  src/OpenAL/OpenTK.OpenAL/OpenALLibraryNameContainer.cs
Labels: platform, 4.x, OpenAL

#1468 Annotated Box classes with serializable attributes and XmlIgnore attributes
  src/OpenTK.Mathematics/Geometry/Box2.cs
  src/OpenTK.Mathematics/Geometry/Box2d.cs
  src/OpenTK.Mathematics/Geometry/Box2i.cs
  src/OpenTK.Mathematics/Geometry/Box3.cs
  src/OpenTK.Mathematics/Geometry/Box3d.cs
  src/OpenTK.Mathematics/Geometry/Box3i.cs
Labels: 4.x, math

#1501 Added ProgramBinaryLength to GetProgramParameterName enum
  build.fsx
  src/Generator.Bind/Specifications/GL2/overrides.xml
Labels: binding generator, 4.x, OpenGL

#1503 Update to GLFW 3.3.8
  src/OpenTK.Windowing.GraphicsLibraryFramework/OpenTK.Windowing.GraphicsLibraryFramework.csproj
  src/OpenTK.Windowing.GraphicsLibraryFramework/paket
Labels: platform, 4.x, glfw

#1509 [3.x] Update test projects to net framework 4.6.1
  build.cmd
  src/OpenTK.GLWidget/OpenTK.GLWidget.csproj
  tests/OpenTK.Tests.Generators/OpenTK.Tests.Generators.fsproj
  tests/OpenTK.Tests.Integration/App.config
  tests/OpenTK.Tests.Integration/OpenTK.Tests.Integration.fsproj
  tests/OpenTK.Tests.Math/OpenTK.Tests.Math.csproj
  tests/OpenTK.Tests/OpenTK.Tests.fsproj
Labels: 3.x, buildsystem
