Repository opentk/opentk, pull requests merged in 2022-10, with the labels that each got.

#1512 Component-wise Lerp methods for vectors.
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  tests/OpenTK.Tests/Vector2Tests.fs
  tests/OpenTK.Tests/Vector3Tests.fs
  tests/OpenTK.Tests/Vector4Tests.fs
Labels: improvement, 4.x, math

#1523 add SizedInternalFormat enum values
  src/Generator.Bind/Specifications/GL2/overrides.xml
Labels: binding generator, 4.x, OpenGL

#1528 Fixed Matrix4x3(d).ToString() to print the final row.
  src/OpenTK.Mathematics/Matrix/Matrix4x3.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x3d.cs
Labels: bug, 4.x, math

#1471 [5.0/Generator] Deduplicate functionpointers for native function calls.
  src/Generator/Process/OutputData.cs
  src/Generator/Process/Overloaders.cs
  src/Generator/Process/Processor.cs
  src/Generator/Writer.cs
  src/OpenTK.Graphics/GL.Pointers.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Native.cs
  src/OpenTK.Graphics/Types.cs
Labels: improvement, binding generator, 5.x

#1493 [5.0] Fix non GLenum enums
  build.cmd
  src/Generator/Process/OutputData.cs
  src/Generator/Process/Overloaders.cs
  src/Generator/Process/Processor.cs
  src/Generator/Reader.cs
  src/Generator/SpecificationFiles/gl.xml
  src/Generator/Writer.cs
  src/OpenTK.Graphics/GL.Pointers.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/Enums.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGL/Enums.cs
  src/OpenTK.Graphics/OpenGL/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES1/Enums.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES3/Enums.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Overloads.cs
Labels: binding generator, 5.x, OpenGL
