Repository opentk/opentk, pull requests merged in 2022-05, with the labels that each got.

#1435 Dropping remaining epsilon when update frames are too far behind;
  src/OpenTK.Windowing.Desktop/GameWindow.cs
Labels: 4.x

#1431 Fix missing enums and fix MultiDrawElementsIndirectCount parameter type.
  src/Generator.Bind/CSharpSpecWriter.cs
  src/Generator.Bind/EnumProcessor.cs
  src/Generator.Bind/GL2/Generator.cs
  src/Generator.Bind/Specifications/GL2/overrides.xml
  src/Generator.Bind/Specifications/GL2/signatures.xml
  src/Generator.Bind/Structures/Constant.cs
  src/Generator.Bind/Structures/Enum.cs
  src/Generator.Bind/Utilities.cs
  src/Generator.Bind/XmlSpecReader.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/Enums/RawMouseMotionAttribute.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/GLFW.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/GLFWNative.cs
Labels: binding generator, 4.x, OpenGL

#1437 Add backwards compatibility overloads for MultiDrawElementsIndirectCount
  src/Generator.Bind/Specifications/GL2/overrides.xml
Labels: binding generator, 4.x

#1438 fix type enum in VertexArrayAttrib*Format
  src/Generator.Bind/Specifications/GL2/GL/4.5/ARB_direct_state_access.xml
  src/Generator.Bind/Specifications/GL2/overrides.xml
  src/Generator.Bind/Specifications/GL2/signatures.xml
Labels: binding generator, 4.x

#1439 Added CursorState and deprecated CursorVisible and CursorGrabbed.
  src/OpenTK.Windowing.Common/Enums/CursorState.cs
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
Labels: input, 4.x, glfw

#1436 Smaller version of #1430 for 4.7.2
  LocalTest/Program.cs
  src/OpenTK.Windowing.Desktop/GameWindow.cs
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/Input/MouseState.cs
Labels: input, 4.x, glfw

#1440 Fix cpu usage when limiting update and render frequencies at the same time
  src/OpenTK.Windowing.Desktop/GameWindow.cs
Labels: bug, 4.x

#1442 Adds IsButtonPressed and IsButtonReleased to JoystickState.
  src/OpenTK.Windowing.GraphicsLibraryFramework/Input/JoystickState.cs
Labels: input, 4.x
