Repository opentk/opentk, pull requests merged in 2022-04, with the labels that each got.

#1413 Fixed ComponentMin returning wrong result
  src/OpenTK.Mathematics/Vector/Vector3i.cs
Labels: bug, 4.x, math

#1404 Actually update OpenTK.glfw.redist nuget package we are using...
  src/OpenTK.Windowing.GraphicsLibraryFramework/paket
Labels: bug, 4.x, glfw

#1419 Uniformize vectors constructors
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector2h.cs
  src/OpenTK.Mathematics/Vector/Vector2i.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector3h.cs
  src/OpenTK.Mathematics/Vector/Vector3i.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  src/OpenTK.Mathematics/Vector/Vector4h.cs
  src/OpenTK.Mathematics/Vector/Vector4i.cs
  tests/OpenTK.Tests/Vector2Tests.fs
  tests/OpenTK.Tests/Vector3Tests.fs
  tests/OpenTK.Tests/Vector4Tests.fs
Labels: improvement, 5.x, math

#1422 Fixed small typo in Box3i.Contains(Vector3i)
  src/OpenTK.Mathematics/Geometry/Box3i.cs
Labels: bug, 4.x, math

#1417 Expose ProcessInputEvents() to allow for proper multi-window setups
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
Labels: improvement, 4.x, glfw

#1423 Set depth and stencil bits before creating the window.
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
Labels: bug, 4.x, glfw

#1424 Added sRGB setting in NativeWindowSettings
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
  src/OpenTK.Windowing.Desktop/NativeWindowSettings.cs
Labels: improvement, 4.x, glfw

#1425 Unified Quaternion and Quaterniond implementations
  src/OpenTK.Mathematics/Data/Quaternion.cs
  src/OpenTK.Mathematics/Data/Quaterniond.cs
Labels: bug, 4.x, math

#1401 Fixed Generator.Converter to be able to handle the new enum group format in gl.xml
  src/Generator.Bind/Specifications/GL2/overrides.xml
  src/Generator.Bind/Specifications/GL2/signatures.xml
  src/Generator.Converter/GLXmlParser.cs
Labels: binding generator, 4.x

#1426 Updated OpenTK.redist.glfw package
  src/OpenTK.Windowing.GraphicsLibraryFramework/OpenTK.Windowing.GraphicsLibraryFramework.csproj
  src/OpenTK.Windowing.GraphicsLibraryFramework/paket
Labels: 4.x, glfw

#1428 Do not limit the upper version on System.Runtime.CompilerServices.Unsafe dependency
  src/OpenTK.Mathematics/paket
  src/OpenTK.Windowing.GraphicsLibraryFramework/paket
Labels: 4.x, buildsystem

#1429 Add proper check for initializing GLFW from the main thread.
  src/OpenTK.Windowing.Desktop/GLFWProvider.cs
  src/OpenTK.Windowing.Desktop/Joysticks.cs
  src/OpenTK.Windowing.Desktop/MonitorInfo.cs
  src/OpenTK.Windowing.Desktop/Monitors.cs
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
Labels: improvement, 4.x, glfw

#1427 Fix #1398 by updating signatures.xml
  src/Generator.Bind/Specifications/GL2/signatures.xml
Labels: binding generator, 4.x

#1416 Fixed Box scaling tests.
  tests/OpenTK.Tests/Assertions.fs
  tests/OpenTK.Tests/Box2Tests.fs
  tests/OpenTK.Tests/Box3Tests.fs
Labels: bug, tests, 4.x, math

#1433 Fix enums in multiple extensions
  src/Generator.Bind/Specifications/GL2/signatures.xml
Labels: binding generator, 4.x, OpenGL

#1408 Overload documentation
  src/Generator/Parsing/DocumentationData.cs
  src/Generator/Parsing/DocumentationParser.cs
  src/Generator/Process/OutputData.cs
  src/Generator/Process/Processor.cs
  src/Generator/Writer.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGL/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES3/GL.Overloads.cs
Labels: binding generator, 5.x
