Repository opentk/opentk, pull requests merged in 2023-11, with the labels that each got.

#1675 Use MathF methods instead of Math (float vs double)
  src/OpenTK.Mathematics/Geometry/BezierCurve.cs
  src/OpenTK.Mathematics/Matrix/Matrix4.cs
Labels: improvement, 4.x, math

#1672 Fix locale bug involving group names. (#1668)
  src/Generator/Utility/NameMangler.cs
Labels: binding generator, 5.x

#1655 Suspend timer during window drag via Win32 message hooks
  src/OpenTK.Windowing.Desktop/GameWindow.cs
  src/OpenTK.Windowing.Desktop/GameWindowSettings.cs
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
  src/OpenTK.Windowing.Desktop/Win32WindowProc.cs
Labels: windows, platform, 4.x, glfw

#1678 Transfer OpenTK 5 build system to OpenTK 4.
  .config/dotnet-tools.json
  appveyor.yml
  build.cmd
  build.fsx.lock
  build.ps1
  build.sh
  build/build.fs
  build/build.fsproj
  global.json
  paket.lock
Labels: 4.x, buildsystem

#1656 Wayland freeze on setting the WindowState before Context.MakeCurrent()
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
Labels: bug, upstream bug, platform, 4.x, glfw, linux, wayland

#1680 Add framebuffer size callbacks and NativeWindow.FramebufferSize
  src/OpenTK.Windowing.Common/Events/FramebufferResizeEventArgs.cs
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
  tests/LocalTest/Program.cs
Labels: improvement, platform, 4.x, glfw

#1679 [5.0] Fix so NativeWindow properly loads the OpenGL bindings
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
  tests/LocalTest/Program.cs
Labels: 5.x, OpenGL

#1681 Moved Color3 to OpenTK.Mathematics.Color3
  src/OpenTK.Mathematics/Colors/Color3.cs
  src/OpenTK.Platform.Native/Windows/ShellComponent.cs
  tests/MacOSTestProject/Program.cs
  tests/OpenTK.Platform.Tests/Program.cs
  tests/PAL2ContextSharingTest/Program.cs
  tests/SDLTestProject/Program.cs
Labels: 5.x, math

#1662 Make Box.Inflate work like System.Drawing.Rectangle.Inflate
  src/OpenTK.Mathematics/Geometry/Box2.cs
  src/OpenTK.Mathematics/Geometry/Box2d.cs
  src/OpenTK.Mathematics/Geometry/Box2i.cs
  src/OpenTK.Mathematics/Geometry/Box3.cs
  src/OpenTK.Mathematics/Geometry/Box3d.cs
  src/OpenTK.Mathematics/Geometry/Box3i.cs
  tests/OpenTK.Tests.Integration/GameWindowTests.fs
  tests/OpenTK.Tests.Integration/OpenTK.Tests.Integration.fsproj
  tests/OpenTK.Tests/Assertions.fs
  tests/OpenTK.Tests/Box2Tests.fs
  tests/OpenTK.Tests/Box3Tests.fs
  tests/OpenToolkit.OpenCL.Tests/Program.cs
Labels: 4.x, math

#1682 Start switch to <PackageIcon> from <iconUrl>
  OpenTK.nuspec
  OpenTK.sln
  build/build.fs
  documentation/icon.png
  src/OpenAL/OpenTK.Audio.OpenAL/OpenTK.Audio.OpenAL.csproj
  src/OpenAL/OpenTK.Audio.OpenAL/paket
  src/OpenTK.Compute/OpenTK.Compute.csproj
  src/OpenTK.Core/OpenTK.Core.csproj
  src/OpenTK.Graphics/OpenTK.Graphics.csproj
  src/OpenTK.Graphics/paket
  src/OpenTK.Input/OpenTK.Input.csproj
  src/OpenTK.Mathematics/OpenTK.Mathematics.csproj
  src/OpenTK.Platform.Native/OpenTK.Platform.Native.csproj
  src/OpenTK.Windowing.Common/OpenTK.Windowing.Common.csproj
  src/OpenTK.Windowing.Desktop/OpenTK.Windowing.Desktop.csproj
  src/OpenTK.Windowing.GraphicsLibraryFramework/OpenTK.Windowing.GraphicsLibraryFramework.csproj
  src/OpenTK.Windowing.GraphicsLibraryFramework/paket
Labels: 5.x, buildsystem

#1683 Add ability to override library search path for OpenAL and OpenCL
  src/OpenAL/OpenTK.Audio.OpenAL/OpenALLibraryNameContainer.cs
  src/OpenTK.Compute/OpenCL/OpenCLLibraryNameContainer.cs
Labels: 4.x, OpenCL, OpenAL

#1544 [PAL2.0] Make event queue instances lockless.
  src/OpenTK.Core/Platform/EventQueue.cs
Labels: 5.x, pal-2.0
