Repository opentk/opentk, pull requests merged in 2023-07, with the labels that each got.

#1602 [NV_shading_rate_image] Move signatures.xml modifications to overrides.xml
  src/Generator.Bind/Specifications/GL2/overrides.xml
  src/Generator.Bind/Specifications/GL2/signatures.xml
Labels: binding generator, 4.x, OpenGL

#1581 Removed BindBufferToSource to AL-ify the OpenAL bindings
  src/OpenAL/OpenTK.OpenAL/AL/AL.cs
Labels: 4.x, OpenAL

#1608 Add Wayland detection and env switch OPENTK_4_USE_WAYLAND
  src/OpenTK.Graphics/OpenTK.Graphics.csproj
  src/OpenTK.Windowing.Desktop/GLFWProvider.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/GLFW.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/GLFWNative.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/OpenTK.Windowing.GraphicsLibraryFramework.csproj
  src/OpenTK.Windowing.GraphicsLibraryFramework/paket
Labels: improvement, 4.x, glfw, linux

#1613 Add raw mouse input properties and cleanup of some input related code
  src/OpenTK.Windowing.Desktop/GameWindow.cs
  src/OpenTK.Windowing.Desktop/NativeWindow.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/GLFW.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/Input/JoystickState.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/Input/KeyboardState.cs
  src/OpenTK.Windowing.GraphicsLibraryFramework/Input/MouseState.cs
Labels: input, 4.x

#1614 Rename OpenAL assembly to OpenTK.Audio.OpenAL.
  OpenTK.sln
  src/OpenAL/OpenALGenerator/Program.cs
  src/OpenAL/OpenTK.Audio.OpenAL/AL/AL.cs
  src/OpenAL/OpenTK.Audio.OpenAL/AL/ALEnums.cs
  src/OpenAL/OpenTK.Audio.OpenAL/ALC/ALC.cs
  src/OpenAL/OpenTK.Audio.OpenAL/ALC/ALCEnums.cs
  src/OpenAL/OpenTK.Audio.OpenAL/ALC/ALContextAttributes.cs
  src/OpenAL/OpenTK.Audio.OpenAL/ALCaptureDevice.cs
  src/OpenAL/OpenTK.Audio.OpenAL/ALContext.cs
  src/OpenAL/OpenTK.Audio.OpenAL/ALDevice.cs
  src/OpenAL/OpenTK.Audio.OpenAL/AlcVersion.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/EFX.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EFXContextAttributes.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EFXContextInteger.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EFXListenerFloat.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EFXSourceBoolean.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EFXSourceFloat.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EFXSourceInteger.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EFXSourceInteger3.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EffectFloat.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EffectInteger.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EffectSlotFloat.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EffectSlotInteger.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EffectType.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/EffectVector3.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/FilterFloat.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/FilterInteger.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/FilterType.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/FormantFilterSettings.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Enums/MaxAuxiliarySends.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Presets/ReverbPresets.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EFX/Presets/ReverbProperties.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EnumerateAll/EnumerateAll.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EnumerateAll/Enums/GetEnumerateAllContextString.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/Creative.EnumerateAll/Enums/GetEnumerateAllContextStringList.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/EXT.Double/EXTDouble.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/EXT.Double/Enums/DoubleBufferFormat.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/EXT.Float32/EXTFloat32.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/EXT.Float32/Enums/FloatBufferFormat.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/SOFT.DeviceClock/DeviceClock.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/SOFT.DeviceClock/Enums/GetInteger64.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/SOFT.DeviceClock/Enums/SourceDouble.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/SOFT.DeviceClock/Enums/SourceInteger64.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/SOFT.LoopPoints/Enums/BufferLoopPoint.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/SOFT.LoopPoints/LoopPoints.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/SOFT.SourceLatency/Enums/SourceLatencyVector2.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Extensions/SOFT.SourceLatency/SourceLatency.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Native/ALBase.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Native/ALLoader.cs
  src/OpenAL/OpenTK.Audio.OpenAL/Native/ConstCharPtrMarshaler.cs
  src/OpenAL/OpenTK.Audio.OpenAL/OpenALLibraryNameContainer.cs
  src/OpenAL/OpenTK.Audio.OpenAL/OpenTK.Audio.OpenAL.csproj
  src/OpenAL/OpenTK.Audio.OpenAL/OpenTK.OpenAL.csproj.DotSettings
  src/OpenAL/OpenTK.Audio.OpenAL/paket
  src/OpenAL/OpenTK.OpenAL.Extensions/OpenTK.OpenAL.Extensions.csproj
  src/OpenAL/OpenTK.OpenAL/paket
  tests/OpenALTest/ALTest.cs
  tests/OpenALTest/OpenALTest.csproj
Labels: 4.x, OpenAL

#1576 Enable getting delta time in OnResize and OnMove
  src/OpenTK.Windowing.Desktop/GameWindow.cs
  tests/LocalTest/Program.cs
Labels: improvement, platform, 4.x

#1615 Renamed BoxX.Inflate with BoxX.Extend and marked Inflate as obsolete.
  src/OpenTK.Mathematics/Geometry/Box2.cs
  src/OpenTK.Mathematics/Geometry/Box2d.cs
  src/OpenTK.Mathematics/Geometry/Box2i.cs
  src/OpenTK.Mathematics/Geometry/Box3.cs
  src/OpenTK.Mathematics/Geometry/Box3d.cs
  src/OpenTK.Mathematics/Geometry/Box3i.cs
Labels: 4.x, math
