Repository opentk/opentk, pull requests merged in 2024-08, with the labels that each got.

#1721 Replace many math Equals() functions with simd implementation
  src/OpenTK.Mathematics/Data/Quaternion.cs
  src/OpenTK.Mathematics/Data/Quaterniond.cs
  src/OpenTK.Mathematics/Matrix/Matrix2.cs
  src/OpenTK.Mathematics/Matrix/Matrix2d.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x4.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x4.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4.cs
  src/OpenTK.Mathematics/Matrix/Matrix4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x2.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x2d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x3.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x3d.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  src/OpenTK.Mathematics/Vector/Vector4i.cs
  tests/OpenTK.Tests/Matrix4Tests.fs
Labels: 5.x, math

#1735 Slerp fixes
  src/Generator.Rewrite/Generator.Rewrite.csproj
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  tests/LocalTest/Program.cs
  tests/OpenTK.Benchmarks/Program.cs
  tests/OpenTK.Tests.Integration/GameWindowTests.fs
  tests/OpenTK.Tests.Integration/OpenTK.Tests.Integration.fsproj
  tests/OpenTK.Tests/Assertions.fs
  tests/OpenTK.Tests/BezierCurveTest.fs
  tests/OpenTK.Tests/Box2Tests.fs
  tests/OpenTK.Tests/Box3Tests.fs
  tests/OpenTK.Tests/Color4Tests.fs
  tests/OpenTK.Tests/Generators.fs
  tests/OpenTK.Tests/HalfTests.fs
  tests/OpenTK.Tests/MathHelperTests.fs
  tests/OpenTK.Tests/Matrix4Tests.fs
  tests/OpenTK.Tests/OpenTK.Tests.fsproj
  tests/OpenTK.Tests/Vector2Tests.fs
  tests/OpenTK.Tests/Vector3Tests.fs
  tests/OpenTK.Tests/Vector4Tests.fs
Labels: 4.x, math

#1733 OTK5 Math Updates
  src/OpenTK.Mathematics/Geometry/Box2.cs
  src/OpenTK.Mathematics/Geometry/Box2d.cs
  src/OpenTK.Mathematics/Geometry/Box2i.cs
  src/OpenTK.Mathematics/Geometry/Box3.cs
  src/OpenTK.Mathematics/Geometry/Box3d.cs
  src/OpenTK.Mathematics/Geometry/Box3i.cs
  src/OpenTK.Mathematics/MathHelper.cs
  src/OpenTK.Mathematics/Matrix/Matrix2.cs
  src/OpenTK.Mathematics/Matrix/Matrix2d.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x3.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x3d.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x4.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix3.cs
  src/OpenTK.Mathematics/Matrix/Matrix3d.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x2.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x2d.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x4.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4.cs
  src/OpenTK.Mathematics/Matrix/Matrix4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x2.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x2d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x3.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x3d.cs
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector2h.cs
  src/OpenTK.Mathematics/Vector/Vector2i.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector3h.cs
  src/OpenTK.Mathematics/Vector/Vector3i.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  src/OpenTK.Mathematics/Vector/Vector4h.cs
  src/OpenTK.Mathematics/Vector/Vector4i.cs
  src/OpenTK.Platform/Native/Windows/JoystickComponent.cs
  tests/OpenTK.Backends.Tests/CursorComponentView.cs
  tests/OpenTK.Backends.Tests/TestApps/FpsCamera.cs
  tests/OpenTK.Tests/Vector2Tests.fs
  tests/OpenTK.Tests/Vector3Tests.fs
  tests/OpenTK.Tests/Vector4Tests.fs
Labels: 5.x, math

#1740 Cleanup of recent OpenTK 5 changes (pal2, vulkan, etc)
  OpenTK.sln
  src/OpenTK.Platform.Native/Windows/CursorComponent.cs
  tests/Bejeweled/Bejeweled.csproj
  tests/BejeweledStandalone/BejeweledStandalone.csproj
  tests/OpenTK.Backends.Tests/OpenTK.Backends.Tests.csproj
  tests/OpenTK.Backends.Tests/Properties/PublishProfiles/macOS.pubxml
  tests/OpenTK.Backends.Tests/info.plist
  tests/VulkanTestProject/Program.cs
  tests/VulkanTestProject/VulkanTestProject.csproj
Labels: 5.x, pal-2.0, Vulkan
