Repository opentk/opentk, pull requests merged in 2024-12, with the labels that each got.

#1773 Add missing paket entires.
  props/nuget-common.props
  src/OpenAL/OpenTK.Audio.OpenAL/paket
  src/OpenTK.Compute/paket
  src/OpenTK.Core/paket
  src/OpenTK.Graphics/paket
  src/OpenTK.Input/paket
  src/OpenTK.Mathematics/paket
  src/OpenTK.Windowing.Common/paket
  src/OpenTK.Windowing.Desktop/paket
  src/OpenTK.Windowing.GraphicsLibraryFramework/paket
Labels: bug, 4.x, buildsystem

#1775 Fix rewriter leaving module references even though the DllImport functions are removed.
  src/Generator.Rewrite/Program.cs
Labels: bindings generator, 4.x, buildsystem, macos

#1781 Fix 4.9.1 build problems
  build/build.fs
  props/nuget-common.props
Labels: 4.x, buildsystem

#1779 [5.0] Update vulkan to 1.4.303
  src/OpenTK.Graphics/Vulkan/Constants.cs
  src/OpenTK.Graphics/Vulkan/Enums.cs
  src/OpenTK.Graphics/Vulkan/Handles.cs
  src/OpenTK.Graphics/Vulkan/Macros.cs
  src/OpenTK.Graphics/Vulkan/Structs.cs
  src/OpenTK.Graphics/Vulkan/Video.cs
  src/OpenTK.Graphics/Vulkan/Vulkan.Pointers.cs
  src/OpenTK.Graphics/Vulkan/Vulkan.cs
  src/VkGenerator/Parsing/SpecificationParser.cs
  src/VkGenerator/Process/Processor.cs
  src/VkGenerator/Program.cs
  src/VkGenerator/SpecificationFiles/video.xml
  src/VkGenerator/SpecificationFiles/vk.xml
  src/VkGenerator/Writer.cs
Labels: improvement, 5.x, Vulkan

#1783 Add a DegToRad and a RadToDeg constant for easier conversion between radians and degrees.
  src/OpenTK.Mathematics/MathHelper.cs
Labels: 4.x, math
