Repository opentk/opentk, pull requests merged in 2025-08, with the labels that each got.

#1859 Add explicit casting from VectorXb to VectorXi and VectorX
  src/OpenTK.Mathematics/Vector/Vector2b.cs
  src/OpenTK.Mathematics/Vector/Vector3b.cs
  src/OpenTK.Mathematics/Vector/Vector4b.cs
  tests/OpenTK.Tests/Vector2bTests.fs
  tests/OpenTK.Tests/Vector3bTests.fs
  tests/OpenTK.Tests/Vector4bTests.fs
Labels: 4.x, math

#1845 [5.0] Optimize Vector and Matrix Indexer
  src/OpenTK.Mathematics/MathHelper.cs
  src/OpenTK.Mathematics/Matrix/Matrix2.cs
  src/OpenTK.Mathematics/Matrix/Matrix2d.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x3.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x3d.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x4.cs
  src/OpenTK.Mathematics/Matrix/Matrix2x4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix3.cs
  src/OpenTK.Mathematics/Matrix/Matrix3d.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x2.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x2d.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x4.cs
  src/OpenTK.Mathematics/Matrix/Matrix3x4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4.cs
  src/OpenTK.Mathematics/Matrix/Matrix4d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x2.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x2d.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x3.cs
  src/OpenTK.Mathematics/Matrix/Matrix4x3d.cs
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2b.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector2i.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3b.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector3i.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4b.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  src/OpenTK.Mathematics/Vector/Vector4i.cs
Labels: 5.x, math

#1844 [5.0] PAL2 work
  Directory.Build.props
  src/OpenTK.Core/Utility/ConsoleLogger.cs
  src/OpenTK.Graphics/Vulkan/Defines.cs
  src/OpenTK.Platform/ContextSettings.cs
  src/OpenTK.Platform/Interfaces/IDialogComponent.cs
  src/OpenTK.Platform/Interfaces/IDisplayComponent.cs
  src/OpenTK.Platform/Interfaces/IOpenGLComponent.cs
  src/OpenTK.Platform/Native/ANGLE/ANGLEOpenGLComponent.cs
  src/OpenTK.Platform/Native/ANGLE/Handles.cs
  src/OpenTK.Platform/Native/SDL/SDLDisplayComponent.cs
  src/OpenTK.Platform/Native/SDL/SDLOpenGLComponent.cs
  src/OpenTK.Platform/Native/Windows/COM.cs
  src/OpenTK.Platform/Native/Windows/DXGI.cs
  src/OpenTK.Platform/Native/Windows/DialogComponent.cs
  src/OpenTK.Platform/Native/Windows/DisplayComponent.cs
  src/OpenTK.Platform/Native/Windows/Enums.cs
  src/OpenTK.Platform/Native/Windows/Handles.cs
  src/OpenTK.Platform/Native/Windows/OpenGLComponent.cs
  src/OpenTK.Platform/Native/Windows/Win32.cs
  src/OpenTK.Platform/Native/X11/Handles.cs
  src/OpenTK.Platform/Native/X11/X11DialogComponent.cs
  src/OpenTK.Platform/Native/X11/X11DisplayComponent.cs
  src/OpenTK.Platform/Native/X11/X11KeyboardComponent.cs
  src/OpenTK.Platform/Native/X11/X11OpenGLComponent.cs
  src/OpenTK.Platform/Native/X11/X11WindowComponent.cs
  src/OpenTK.Platform/Native/macOS/Handles.cs
  src/OpenTK.Platform/Native/macOS/MacOSDialogComponent.cs
  src/OpenTK.Platform/Native/macOS/MacOSDisplayComponent.cs
  src/OpenTK.Platform/Native/macOS/MacOSOpenGLComponent.cs
  src/OpenTK.Platform/OpenGLGraphicsApiHints.cs
  src/VkGenerator/Parsing/SpecificationParser.cs
  src/VkGenerator/VkGenerator.csproj
  tests/Bejeweled/Bejeweled.cs
  tests/Bejeweled/ImGuiController.cs
  tests/BejeweledStandalone/Program.cs
  tests/OpenTK.Backends.Tests/ColorMatchingFunctions.cs
  tests/OpenTK.Backends.Tests/DialogComponentView.cs
  tests/OpenTK.Backends.Tests/DisplayComponentView.cs
  tests/OpenTK.Backends.Tests/ImGuiController.cs
  tests/OpenTK.Backends.Tests/ImGuiUtils.cs
  tests/OpenTK.Backends.Tests/OpenGLComponentView.cs
  tests/OpenTK.Backends.Tests/OverviewView.cs
  tests/OpenTK.Backends.Tests/Program.cs
  tests/OpenTK.Backends.Tests/TestApps/Bejeweled/Bejeweled.cs
  tests/OpenTK.Backends.Tests/TestApps/ColorTriangle.cs
  tests/OpenTK.Backends.Tests/TestApps/ColorWheel.cs
  tests/OpenTK.Backends.Tests/TestApps/FpsCamera.cs
  tests/OpenTK.Backends.Tests/TestApps/HDRTest.cs
  tests/OpenTK.Backends.Tests/TestApps/ITestApp.cs
  tests/OpenTK.Backends.Tests/TestApps/ModelView.cs
  tests/OpenTK.Backends.Tests/TestApps/VsyncTest.cs
  tests/OpenTK.Backends.Tests/WindowComponentView.cs
Labels: 5.x, pal-2.0, linux, Vulkan

#1870 Made dll resolver properly look for GLFW 3.4.
  src/OpenTK.Windowing.GraphicsLibraryFramework/GLFWNative.cs
Labels: 4.x, glfw
