Repository opentk/opentk, pull requests merged in 2025-07, with the labels that each got.

#1835 Make WGL bindings public
  src/OpenTK.Graphics/Wgl/Wgl.cs
  src/OpenTK.Graphics/Wgl/WinAPI.cs
Labels: windows, 4.x, OpenGL

#1829 [5.0] Add `scalar / vector` operators
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector2i.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector3i.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  src/OpenTK.Mathematics/Vector/Vector4i.cs
Labels: 5.x, math

#1836 Remove vertex buffer object usage enum
  src/Generator/SpecificationFiles/gl.xml
  src/OpenTK.Graphics/EGL.Pointers.cs
  src/OpenTK.Graphics/Egl/EGL.Native.cs
  src/OpenTK.Graphics/Egl/EGL.Overloads.cs
  src/OpenTK.Graphics/Egl/Enums.cs
  src/OpenTK.Graphics/GL.Pointers.cs
  src/OpenTK.Graphics/GLX.Pointers.cs
  src/OpenTK.Graphics/Glx/Enums.cs
  src/OpenTK.Graphics/Glx/GLX.Native.cs
  src/OpenTK.Graphics/Glx/GLX.Overloads.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/Enums.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/Compatibility/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGL/Enums.cs
  src/OpenTK.Graphics/OpenGL/GL.Native.cs
  src/OpenTK.Graphics/OpenGL/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES1/Enums.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES1/GL.Overloads.cs
  src/OpenTK.Graphics/OpenGLES2/Enums.cs
  src/OpenTK.Graphics/OpenGLES2/GL.Native.cs
  src/OpenTK.Graphics/OpenGLES2/GL.Overloads.cs
  src/OpenTK.Graphics/WGL.Pointers.cs
  src/OpenTK.Graphics/Wgl/Enums.cs
  src/OpenTK.Graphics/Wgl/WGL.Native.cs
  src/OpenTK.Graphics/Wgl/WGL.Overloads.cs
Labels: bug, bindings generator, 5.x, OpenGL

#1816 Add boolean vectors.
  src/OpenTK.Mathematics/Vector/Vector2.cs
  src/OpenTK.Mathematics/Vector/Vector2b.cs
  src/OpenTK.Mathematics/Vector/Vector2d.cs
  src/OpenTK.Mathematics/Vector/Vector2i.cs
  src/OpenTK.Mathematics/Vector/Vector3.cs
  src/OpenTK.Mathematics/Vector/Vector3b.cs
  src/OpenTK.Mathematics/Vector/Vector3d.cs
  src/OpenTK.Mathematics/Vector/Vector3i.cs
  src/OpenTK.Mathematics/Vector/Vector4.cs
  src/OpenTK.Mathematics/Vector/Vector4b.cs
  src/OpenTK.Mathematics/Vector/Vector4d.cs
  src/OpenTK.Mathematics/Vector/Vector4i.cs
  tests/OpenTK.Tests/Generators.fs
  tests/OpenTK.Tests/OpenTK.Tests.fsproj
  tests/OpenTK.Tests/Vector2Tests.fs
  tests/OpenTK.Tests/Vector2bTests.fs
  tests/OpenTK.Tests/Vector3Tests.fs
  tests/OpenTK.Tests/Vector3bTests.fs
  tests/OpenTK.Tests/Vector4Tests.fs
  tests/OpenTK.Tests/Vector4bTests.fs
Labels: 4.x, math

#1841 Update Vulkan to 1.4.321
  Directory.Build.props
  src/OpenTK.Graphics/Vulkan/Constants.cs
  src/OpenTK.Graphics/Vulkan/Defines.cs
  src/OpenTK.Graphics/Vulkan/DispatchTables.cs
  src/OpenTK.Graphics/Vulkan/Enums.cs
  src/OpenTK.Graphics/Vulkan/Handles.cs
  src/OpenTK.Graphics/Vulkan/Macros.cs
  src/OpenTK.Graphics/Vulkan/Structs.cs
  src/OpenTK.Graphics/Vulkan/Video.cs
  src/OpenTK.Graphics/Vulkan/Vulkan.Pointers.cs
  src/OpenTK.Graphics/Vulkan/Vulkan.cs
  src/VkGenerator/Parsing/SpecificationParser.cs
  src/VkGenerator/Process/Processor.cs
  src/VkGenerator/Program.cs
  src/VkGenerator/SpecificationFiles/video.xml
  src/VkGenerator/SpecificationFiles/vk.xml
  src/VkGenerator/Utility/Extensions/ListExtensions.cs
  src/VkGenerator/Utility/NameMangler.cs
  src/VkGenerator/Writer.cs
Labels: bindings generator, documentation, 5.x, Vulkan
